.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #61dafb
}

.navbar a.active {
    color: #282c34;
    background-color: #61dafb;
    border-radius: 5px;
}